body{
    color:rgb(192, 209, 255);
    background: rgb(62, 105, 224);
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: rgb(158, 190, 248);
}
section{
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}